@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #1E2B34; /* Color de fondo */
    color: #E7EEF2; /* Color del texto */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif; /* Fuente Poppins */
}

header h1 {
    grid-column: 2;
    margin: 0;
    font-size: 24px;
    color: #FFA300; /* Color del título */
    text-align: center;
}

header nav {
    grid-column: 1;
    text-align: left;
}

header nav ul {
    list-style: none; /* Quita los puntos de lista */
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 15px;
}

header nav a {
    color: #FF8201; /* Color de los enlaces */
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
    color: #FF5000; /* Color de los enlaces al pasar el ratón */
}