body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #F5F5F5; /* Color de fondo del contenedor */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
    margin-top: 100px;
}

h2 {
    color: #1E2B34;
    font-family: 'Poppins', sans-serif;
}

.document-list {
    list-style-type: none;
    padding: 0;
}

.document-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document-link {
    text-decoration: none;
    color: #1E2B34;
    font-weight: bold;
}

.document-link:hover {
    text-decoration: underline;
}

.document-icon {
    font-size: 1.2em;
}

.no-docs {
    color: #FF5000;
    font-weight: bold;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1E2B34; /* Color de fondo del botón */
    color: #E7EEF2; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; /* Fuente Poppins */
}

.button:hover {
    background-color: #FF5000; /* Color de fondo del botón al pasar el ratón */
    color: #FFFFFF; /* Color del texto del botón al pasar el ratón */
}
