<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Proceso de Acreditación</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenido al proceso acreditación de títulos mediante experiencia laboral</h1>
        <p>Vamos a empezar con unas preguntas para conocerte un poco mejor.</p>
        <button class="button" [routerLink]="['/cuestionario']">Siguiente</button>
    </div>
</body>
</html>